
        #paragrafo{
            font-family: arial;

        }

        #paragrafo2{
            color: blue;
            font-family: Arial;
            font-weight: bolder;
        
        }

        .teste{
            font-style: italic;

            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: rgb(0, 47, 255);
        }

        img{
            width: 500px;
            box-shadow: 5px 3px 7px rgba(255, 0, 0, 0.5) ;
            
        
        }

        table{
            background-color: rgba(0, 255, 255, 0.219);
            font-size: 20px;
            font-weight: bolder;
            border-radius: 10px;
            text-align: center;
        }

        #centro{
            text-align: center;
        }

        a{
            background-color: blueviolet;
            color: white;
            padding: 10px;
            border-radius: 14px;
        }

        body{
            background-color: cadetblue;
        }
        

